package day#DAY

// Original solution used to solve the AoC day #DAY puzzle. Warts and all.

import common.Solution

typealias ParsedInput = List<String>

object Day#DAY : Solution.LinedInput<ParsedInput>(day = #DAY) {

    override fun parseInput(input: List<String>): ParsedInput {
        return input.map{ line ->
            line
        }
    }

    override fun part1(input: ParsedInput): Any {
        return Unit
    }

    override fun part2(input: ParsedInput): Any {
        return Unit
    }
}

fun main() {
    Day#DAY.solve()
}